@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-bg-dark: #121213; /* Base background */
  --color-main-dark: #151515; /* Main sections */
  --color-frame-dark: #4b4b50; /* Frames etc. */
  --color-aurora-green-dark: #59f0b9; /* Aurora (green) */
  --color-aurora-blue-dark: #9f80ff; /* Aurora (blue/purple) */
  --color-text-dark: #e0e0e0; /* Text */
  --color-heading-dark: #ffffff; /* Headings */

  /* === Light Mode === */
  --color-bg-light: #ffffff; /* Base background */
  --color-main-light: #f5f5f7; /* Main sections */
  --color-frame-light: #d8d8d8; /* Frames etc. */
  --color-aurora-green-light: #009688; /* Aurora (green) */
  --color-aurora-blue-light: #9381ff; /* Aurora (blue/purple) */
  --color-text-light: #333333; /* Text */
  --color-heading-light: #000000;

  /* Custom animations */
  --animate-slideDown: slideDown 0.3s ease-out;
  --animate-fadeIn: fadeIn 0.3s ease-out;
}
body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition:
      background-color 0s 600000s,
      color 0s 600000s !important;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
